.mageugenes-cv {
    border: 1px dotted #ccc;
    background: #ffd;
    padding: 10px 20px;
}
.mageugenes-cv ul {
    padding: 0;
    margin: 0;
}
.mageugenes-cv li {
    list-style: none;
}

.mageugenes-cv .cv-key {
    font-weight: bold;
}

.mageugenes-cv .message.info {
    background-color: transparent;
}
